.all-form {
	font-family: sans-serif;
	width: 100%;
	max-width: 620px;
	color: #000;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.all-form__time {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.all-form__time>span {
	display: block;
}

.all-form__count {
	color: red;
	margin-top: 15px;
}

.all-form__body {
	padding: 25px 45px;
	margin-top: 15px;
	background-color: #fff;
	-webkit-box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.all-form__title {
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	line-height: 40px;
}

.all-form__title span {
	color: #50b27c;
}

.all-form__label>span {
	display: block;
	margin-bottom: 5px;
}

.all-form__label+.all-form__label {
	margin-top: 20px;
}

.all-form__field {
	display: block;
	width: 100%;
	height: 50px;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.all-form__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.all-form__btn {
	width: 100%;
	max-width: 320px;
	flex: 1 0 100%;
	padding: 15px 40px;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 10px 20px 10px 0;
	background-color: #53b57f;
	background: rgb(90, 188, 134);
	background: -o-linear-gradient(top, rgba(90, 188, 134, 1) 0%, rgba(66, 163, 110, 1) 50%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 188, 134, 1)), color-stop(50%, rgba(66, 163, 110, 1)));
	background: linear-gradient(180deg, rgba(90, 188, 134, 1) 0%, rgba(66, 163, 110, 1) 50%);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	border: 0;
	font-size: 16px;
}

.all-form__btn:hover {
	text-indent: 10px;
	padding-right: 30px;
	-webkit-box-shadow: inset 10px 0px 20px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 10px 0px 20px 0px rgba(0, 0, 0, .4);
}

.all-form__prices {
	max-width: 180px;
	flex: 1 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.all-form__price-new {
	margin-right: 15px;
	color: #49aa75;
	font-size: 20px;
	max-width: 80px;
	flex: 1 0 100%;
}

.all-form__price-old {
	font-size: 14px;
	color: #8c8c8c;
	text-decoration: line-through;
	max-width: 60px;
	flex: 1 0 100%;
}

@media (max-width: 576px) {
	.all-form__footer {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.all-form__btn {
		margin-right: 0;
		font-size: 15px;
	}

	.all-form__body {
		padding: 25px;
	}
}