.alarm {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 30px;

	&-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		padding: 30px 40px;
		border: 1px solid #ccc;
		border-radius: 10px;
		background: url("../../assets/imgs/alarm-bg.jpg") no-repeat 10% 50% / cover;
		max-width: 1000px;
		margin: 30px auto;

		&:before {
			content: '';
			display: block;
			background: url("../../assets/imgs/alarm-before.png") no-repeat center;
			width: 55px;
			height: 49px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -28px;
			margin: auto;
		}
	}

	&-left {
		max-width: 210px;
		flex: 1 0 100%;
		margin: 10px 10px 10px 0;
	}

	&-title {
		font-size: 16px;
		font-weight: 700;
		color: #000;
	}

	&-right {
		font-weight: 400;
		max-width: 630px;
		flex: 1 0 100%;
		margin: 10px 0;
	}
}

@media screen and (max-width: 576px){
	.alarm {
		padding: 30px 10px 30px 40px;
	}

}