.ryle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 830px;
    height: 100vh;
    background-color: #9dc979;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    font-family: sans-serif;
    -webkit-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    transition: .6s ease-in
}

.ryle_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.ryle__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.ryle__close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.ryle__close:hover span {
    background-color: #000
}

.ryle__close span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff
}

.ryle__close span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ryle__close span:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ryle__box {
    position: relative;
    margin-left: -359px;
    width: 718px;
    height: 718px
}

.ryle__media {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    -webkit-transition: 5s -webkit-transform;
    transition: 5s -webkit-transform;
    -o-transition: 5s transform;
    transition: 5s transform;
    transition: 5s transform, 5s -webkit-transform
}

.ryle__media_active {
    -webkit-transform: rotate(1290deg) scale(1);
    -ms-transform: rotate(1290deg) scale(1);
    transform: rotate(1290deg) scale(1)
}

.ryle__item {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 40px;
    width: 100%;
    max-width: 300px;
    color: #fff;
    font-weight: 700;
    max-width: 176px;
    text-align: center;
    font-size: 22px
}

.ryle__item:nth-of-type(1) {
    -webkit-transform: rotate(-60deg) translate(143px, -98px);
    -ms-transform: rotate(-60deg) translate(143px, -98px);
    transform: rotate(-60deg) translate(143px, -98px)
}

.ryle__item:nth-of-type(2) {
    -webkit-transform: rotate(-30deg) translate(100px, -60px);
    -ms-transform: rotate(-30deg) translate(100px, -60px);
    transform: rotate(-30deg) translate(100px, -60px)
}

.ryle__item:nth-of-type(3) {
    -webkit-transform: rotate(0deg) translate(80px, -10px);
    -ms-transform: rotate(0deg) translate(80px, -10px);
    transform: rotate(0deg) translate(80px, -10px)
}

.ryle__item:nth-of-type(4) {
    -webkit-transform: rotate(30deg) translate(90px, 45px);
    -ms-transform: rotate(30deg) translate(90px, 45px);
    transform: rotate(30deg) translate(90px, 45px)
}

.ryle__item:nth-of-type(5) {
    -webkit-transform: rotate(60deg) translate(117px, 85px);
    -ms-transform: rotate(60deg) translate(117px, 85px);
    transform: rotate(60deg) translate(117px, 85px)
}

.ryle__item:nth-of-type(6) {
    -webkit-transform: rotate(90deg) translate(169px, 109px);
    -ms-transform: rotate(90deg) translate(169px, 109px);
    transform: rotate(90deg) translate(169px, 109px)
}

.ryle__item:nth-of-type(7) {
    -webkit-transform: rotate(120deg) translate(234px, 100px);
    -ms-transform: rotate(120deg) translate(234px, 100px);
    transform: rotate(120deg) translate(234px, 100px)
}

.ryle__item:nth-of-type(8) {
    -webkit-transform: rotate(150deg) translate(277px, 63px);
    -ms-transform: rotate(150deg) translate(277px, 63px);
    transform: rotate(150deg) translate(277px, 63px)
}

.ryle__item:nth-of-type(9) {
    -webkit-transform: rotate(180deg) translate(297px, 20px);
    -ms-transform: rotate(180deg) translate(297px, 20px);
    transform: rotate(180deg) translate(297px, 20px)
}

.ryle__item:nth-of-type(10) {
    -webkit-transform: rotate(210deg) translate(287px, -47px);
    -ms-transform: rotate(210deg) translate(287px, -47px);
    transform: rotate(210deg) translate(287px, -47px)
}

.ryle__item:nth-of-type(11) {
    -webkit-transform: rotate(240deg) translate(259px, -85px);
    -ms-transform: rotate(240deg) translate(259px, -85px);
    transform: rotate(240deg) translate(259px, -85px)
}

.ryle__item:nth-of-type(12) {
    -webkit-transform: rotate(270deg) translate(207px, -108px);
    -ms-transform: rotate(270deg) translate(207px, -108px);
    transform: rotate(270deg) translate(207px, -108px)
}

.ryle__arrow {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: -80px;
    width: 160px;
    height: 80px;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-size: cover
}

.ryle__info {
    margin: auto 50px auto auto;
    text-align: center;
    max-width: 275px;
}

.ryle__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #111
}

.ryle__look {
    display: inline-block;
    padding: 15px 30px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    background: -o-linear-gradient(313deg, #5567c9, #da6144);background: linear-gradient(137deg, #5567c9, #da6144);
}

.ryle__look:hover {
    background-color: #272727;
    text-indent: 10px;
    padding-right: 20px;
}

.ryle__discount {
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    font-size: 22px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.ryle__discount_active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1280px) {
    .ryle {
        width: 768px
    }
}

@media (max-width: 768px) {
    .ryle {
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-y: auto
    }

    .ryle__box {
        margin-left: -239px;
        min-width: 460px;
        min-height: 460px;
        width: 460px;
        height: 460px
    }

    .ryle__media {
        background-size: cover
    }

    .ryle__info {
        margin-right: 15px
    }

    .ryle__arrow {
        right: -62px;
        width: 100px;
        height: 50px
    }

    .ryle__item {
        font-weight: 400;
        font-size: 11px;
        padding-left: 15px;
        max-width: 129px
    }

    .ryle__item:nth-of-type(1) {
        -webkit-transform: rotate(-60deg) translate(93px, -67px);
        -ms-transform: rotate(-60deg) translate(93px, -67px);
        transform: rotate(-60deg) translate(93px, -67px)
    }

    .ryle__item:nth-of-type(2) {
        -webkit-transform: rotate(-30deg) translate(65px, -43px);
        -ms-transform: rotate(-30deg) translate(65px, -43px);
        transform: rotate(-30deg) translate(65px, -43px)
    }

    .ryle__item:nth-of-type(3) {
        -webkit-transform: rotate(0deg) translate(52px, -13px);
        -ms-transform: rotate(0deg) translate(52px, -13px);
        transform: rotate(0deg) translate(52px, -13px)
    }

    .ryle__item:nth-of-type(4) {
        -webkit-transform: rotate(30deg) translate(59px, 31px);
        -ms-transform: rotate(30deg) translate(59px, 31px);
        transform: rotate(30deg) translate(59px, 31px)
    }

    .ryle__item:nth-of-type(5) {
        -webkit-transform: rotate(60deg) translate(77px, 57px);
        -ms-transform: rotate(60deg) translate(77px, 57px);
        transform: rotate(60deg) translate(77px, 57px)
    }

    .ryle__item:nth-of-type(6) {
        -webkit-transform: rotate(90deg) translate(110px, 73px);
        -ms-transform: rotate(90deg) translate(110px, 73px);
        transform: rotate(90deg) translate(110px, 73px)
    }

    .ryle__item:nth-of-type(7) {
        -webkit-transform: rotate(120deg) translate(154px, 67px);
        -ms-transform: rotate(120deg) translate(154px, 67px);
        transform: rotate(120deg) translate(154px, 67px)
    }

    .ryle__item:nth-of-type(8) {
        -webkit-transform: rotate(150deg) translate(182px, 41px);
        -ms-transform: rotate(150deg) translate(182px, 41px);
        transform: rotate(150deg) translate(182px, 41px)
    }

    .ryle__item:nth-of-type(9) {
        -webkit-transform: rotate(180deg) translate(195px, 14px);
        -ms-transform: rotate(180deg) translate(195px, 14px);
        transform: rotate(180deg) translate(195px, 14px)
    }

    .ryle__item:nth-of-type(10) {
        -webkit-transform: rotate(210deg) translate(189px, -30px);
        -ms-transform: rotate(210deg) translate(189px, -30px);
        transform: rotate(210deg) translate(189px, -30px)
    }

    .ryle__item:nth-of-type(11) {
        -webkit-transform: rotate(240deg) translate(171px, -56px);
        -ms-transform: rotate(240deg) translate(171px, -56px);
        transform: rotate(240deg) translate(171px, -56px)
    }

    .ryle__item:nth-of-type(12) {
        -webkit-transform: rotate(270deg) translate(137px, -73px);
        -ms-transform: rotate(270deg) translate(137px, -73px);
        transform: rotate(270deg) translate(137px, -73px)
    }
}

@media (max-width: 480px) {
    .ryle__box {
        margin-left: -270px;
        margin-top: -120px
    }

    .ryle__title {
        font-size: 18px;
        margin-bottom: 10px
    }
}

.all-form {
    font-family: sans-serif;
    width: 100%;
    max-width: 620px;
    color: #000;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.all-form__time {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.all-form__time > span {
    display: block;
}

.all-form__count {
    color: red;
    margin-top: 15px;
}

.all-form__body {
    padding: 25px 45px;
    margin-top: 15px;
    background-color: #fff;
    -webkit-box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.all-form__title {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 40px;
}

.all-form__title span {
    color: #50b27c;
}

.all-form__label > span {
    display: block;
    margin-bottom: 5px;
}

.all-form__label + .all-form__label {
    margin-top: 20px;
}

.all-form__field {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.all-form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.all-form__btn {
    width: 100%;
    max-width: 320px;
    flex: 1 0 100%;
    padding: 15px 40px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 20px 10px 0;
    background-color: #53b57f;
    background: rgb(90,188,134);
    background: -o-linear-gradient(top, rgba(90,188,134,1) 0%, rgba(66,163,110,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(90,188,134,1)), color-stop(50%, rgba(66,163,110,1)));
    background: linear-gradient(180deg, rgba(90,188,134,1) 0%, rgba(66,163,110,1) 50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.all-form__btn:hover {
    text-indent: 10px;
    padding-right: 30px;
    -webkit-box-shadow: inset 10px 0px 20px 0px rgba(0, 0, 0, .4);
    box-shadow: inset 10px 0px 20px 0px rgba(0, 0, 0, .4);
}

.all-form__prices {
    max-width: 180px;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-form__price-new {
    margin-right: 15px;
    color: #49aa75;
    font-size: 20px;
    max-width: 80px;
    flex: 1 0 100%;
}

.all-form__price-old {
    font-size: 14px;
    color: #8c8c8c;
    text-decoration: line-through;
    max-width: 60px;
    flex: 1 0 100%;
}

@media (max-width: 576px) {
    .all-form__footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .all-form__btn {
        margin-right: 0;
        font-size: 15px;
    }

    .all-form__body {
        padding: 25px;
    }
}